<configuration>

    <!-- IMPORTANT WARNING: Excessive logging will, for whatever reason, stop CPU usage from reaching 100%. Something causes the threads to
         sleep and not be utilized. -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- The following block will enable DEBUG level logging with LogRunnable, everything else will be WARN level. This cuts down on the
         amount of logging, and as such CPU utilization by actors shoots up to around 100% (see not at beginning of this xml file). -->
    <!--
    <logger name="com.offbynull.peernetic.core.gateways.log.LogRunnable" level="DEBUG" />
    
    <root level="warn">
        <appender-ref ref="STDOUT" />
    </root>
    -->

</configuration>